body {background-color: rgb(239, 253, 240);}

html {min-width: 450px; min-height: 250px;}

@media (max-width: 875px)
{
    .wrapper {width: 100%; max-width: 100%!important; margin-left: 0; margin-right: 0;}
    .register-form {width: 100%!important; max-width: 100%!important; margin-left: 0;}
}

.profile_left {
    background-color: rgb(230, 230, 230);
    border: 2px solid #70be6f;;
    border-radius: 5px;
}

.rep-block-btn {
    padding: 5px 5px 5px 0;
    margin: 15px 0 15px 0;

}

#popularity {
    position: absolute;
    right: 0;
    top: 0;
}

#popularity h1 {
    color: #6dbf6b;
}

.photo-form {
    display: inline-block;
    width: 18%;
    margin: 0 0.93% 0 0.93%;
}

textarea {border-radius: 5px;}

.username {
    color: #70be6f;
}

.photobtn {
    margin-top:12px!important;
    background-color: rgb(57, 171, 57)!important;
}

#map{position: unset!important;}

.map-wrapper {
    min-height: 500px;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(115, 189, 115);
    border-radius: 15px;
}

.banner {
    font-size: 90px;
}

#dropdown-notif-content{
    min-width: 250px;
    max-height: 350px;
    overflow: scroll;
    background-color: white;
}
#dropdown-notif-content a{
    color: rgb(57, 171, 57);
    font-family: Lato;
    padding: 0;
}
#dropdown-notif-content p
{
    color: rgb(58, 58, 58);
    font-family: Lato;
    padding:10px;
    margin: 0;
}
#dropdown-notif-content p:hover
{
    background-color:rgb(239, 253, 240);
}

.nav-item {
    margin: 10px;
}
#notif {
    color:rgb(59, 163, 59);
}
#nbnotif {
    display: inline;
    float: right;
    color:rgb(59, 163, 59);
}

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown-notif {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-notif-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-notif-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-notif-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*.dropdown-menu-notif:active {
    position:relative;
    top:1px;
}

.dropdown-notif-content{
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 284px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin: 45px 0 0 0;
    z-index: 1;
    border: 2px solid #3881ff;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-notif-content {display: block;}*/

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 10px 10px;
    color: rgb(59, 163, 59);
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0 2px;
}

.profile_main{
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    margin-bottom: 5px;
    /* min-width: 350px;
    min-height: 350px; */
}

.profile_secondary{
    width: 100%;
    border: 1px solid #6dbf6b;
    box-sizing: border-box;

    margin: 1px;
}

.activeTab {
    font-weight: 900;
    color:  rgb(115, 189, 115)!important;
}

.report-btn {
    font-family: Lato!important;
    font-size: 16px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(59, 163, 59);
}
.report-btn:hover {
    font-size: 16px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(43, 117, 43);
    text-decoration: none;
}
.report-btn:active {
    position:relative;
    top:1px;
}



/*//////////////////////////////////////BELOW IS CODE FROM CAMAGRU///////////////////////////////////////////*/

.navbar
{
    background-color: #ffffff;
    /* border-bottom: 1px solid black!important; */
    -webkit-box-shadow: 0 0 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0 0 20px -4px rgba(0,0,0,0.75);
}

.navbar-brand {
    font-family: Lato!important;
    font-size:16px;
    color:white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(59, 163, 59);
}

.navbar-brand:hover {
    font-family: Lato;
    font-size:16px;
    color:white;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(43, 117, 43);
}

.navbar-toggler:hover .dropdown-content, .navbar-toggler:active .dropdown-content {
    display: block;
}
.fa-user::before {
    color: rgb(59, 163, 59);
}
.navbar-toggler {
    border: none!important;
    background-color: white!important;
    position: relative;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    /* color: #DDDDDD !important; */
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    word-break: break-word;
}

h1
{
    /* color: #EEEEEE !important; */
    color: black;
    font-family: Lato;
    font-weight: 300;
}

h2
{
    color: #EEEEEE !important;
    font-style: italic;
}
.small-page-wrapper {min-height: calc(100vh - 166px);}

hr
{
    border-top: 1px solid rgb(112, 190, 111);
    width: 65%;
}

footer
{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0 0 20px -4px rgba(0,0,0,0.75);
    border-bottom: none;
}

a {color: #70be6f;}
a:hover {
    color: rgb(59, 163, 59)!important;
}

li > a {
    color: black !important;
    font-family: Lato;
}

span > a {color: rgb(115, 189, 115) !important;}

p {color: #AAAAAA;}

.wrapper
{
    background-color: white;/*#161619;*/
    margin-bottom: 15px;
    padding-top: 15px!important;
    -webkit-box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
}

.wrapper h1 {
    margin: 20px;
}
.register-form-wrapper
{
    padding-top: 30px!important;
    background-color: #0e0e0e;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 1px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 1px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 1px 0 rgba(4, 3, 0, 0.75);
}

#register-wrapper h6 {
    padding:10px;
}

#suggestion {
    margin-top: 60px;
}
.result_block {
    display: inline-block;
    width: 50%;
    min-width: 540px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.text_block {
    background-color: white;
    padding: 15px!important;
    -webkit-box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    margin: 0 auto;
}
.user_info {
    margin-top: 5px;
    line-height: 12px;
    color: rgb(58, 58, 58);
    margin-bottom: 20px;
    font-family: Lato;
}
.user_name {
    display: inline;
    color:black!important;
    /* color: rgb(59, 163, 59)!important; */
    font-family: Lato;
    font-size: 26px;
}
.age {
    margin: 10px;
    display: inline;
    color: black;
    /* color: rgb(59, 163, 59)!important; */
    font-family: Lato;
}
.gender_distance {
    margin: 20px;
}
.gender {
    font-family: Lato;
    font-weight: normal;
    color: rgb(58, 58, 58);
    display: inline;
}
.distance {
    font-family: Lato;
    color:rgb(59, 163, 59)!important;
    display: inline;
}
.p_score {
    font-family: Lato;
    color: rgb(58, 58, 58);
    margin:10px;
}

.score {
    color:rgb(59, 163, 59)!important;
    font-weight: 500;
}

.profile_tag{
    width: 120px;
    display: inline-block;
    padding: 5px;
    border: 2px solid rgb(168, 218, 162);
    /* background-color: rgb(168, 218, 162); */
    border-radius:30px;
    margin: 10px;
}
.profile_tag p{
    font-family: Lato;
    color: rgb(168, 218, 162)!important;
    margin: 0;
}

.matched_tag {
    margin: 5px 5px 5px 0!important;
    width: 120px;
    display: inline-block;
    padding: 5px;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    border-radius:30px;
    margin: 10px;
    -webkit-box-shadow: 0 0 10px -4px rgba(168,218,162,0.75);
    -moz-box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px -4px rgb(81, 105, 78);
}

.matched_tag p{
    font-family: Lato;
    color:white!important;
    margin: 0;
}

.btn-sign-in {
    width: 100%;
    background-color: rgb(115, 189, 115);
    border-radius: 20px;
    color: white;
    border: 1px solid transparent;
    font-family: Lato;
    margin-top: 20px;
}

.btn-sign-in:hover {
    background-color: rgb(59, 163, 59)!important;
    color: white;
    border: 1px solid transparent;
    font-family: Lato;
    margin-top: 20px;
}

.btn-sign-in:active {
    background-color: rgb(43, 117, 43)!important;
    box-shadow: 0 0 20px -4px rgba(115, 189, 115)!important;
    -webkit-box-shadow: 0 0 20px -4px rgba(115, 189, 115)!important;
    -moz-box-shadow:0px 0 20px -4px rgba(115, 189, 115)!important;
    color: white!important;
    border: 1px solid transparent!important;
    font-family: Lato;
    margin-top: 20px;
}
.btn-sign-in:focus {
    background-color: rgb(59, 163, 59)!important;
    box-shadow: 0 0 20px -4px rgba(115, 189, 115)!important;
    -webkit-box-shadow: 0 0 20px -4px rgba(115, 189, 115)!important;
    -moz-box-shadow:0px 0 20px -4px rgba(115, 189, 115)!important;
    color: white!important;
    border: 1px solid transparent!important;
    font-family: Lato;
    margin-top: 20px;
}

.btn {min-width: 60px;}

#startbutton {
    background-color: #ffc107;
    border:2px solid #242424;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Trebuchet MS;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
#startbutton:hover {
    background-color:#f7a311;
}
#startbutton:active {
    position:relative;
    top:1px;
}

.img-container
{
    padding: 0;
    margin: 15px;
}

.img-page-wrapper
{
    padding: 0;
}

.img-page
{
    background-color: #0c0c0c;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    padding: 0;
}

.gallery-wrapper {margin: 0 25px 15px 25px;}

.gallery-img-wrapper
{
    word-break: break-all;
    background-color: #0c0c0c;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    border: 1px solid black;
    border-radius: 3px;
}
.gallery-img-wrapper:hover .overlay {
    opacity: 1;
}


.gallery-img
{
    width: 100%;
    border-radius: 3px;
    padding: 0;
    transition: .5s ease;
    backface-visibility: hidden;
}

.title-on-img {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35); /* Black see-through */
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.overlay:hover {opacity: 0.7;}

.comment
{
    word-wrap: break-word;
    border: 2px solid #040300;
    padding: 10px;
    background-color: #141414;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
}

.com-username
{
    color: #ffc107;
    text-decoration-line: underline;
}

.com-content
{
    color: white;
}

.page-item .page-link
{
    background-color: #0e0e0e;
    border-color: #ffc107;
}

.page-item.active .page-link
{
    color: black!important;
    background-color: #ffc107;
    border-color: #1b1e21;
}

.like .dislike {transition: 0.3s;color: #0e0e0e;}

.like:hover, .like:active, .liked
{
    color: #78ffd6;
    cursor: pointer;
}

.dislike:hover, .dislike:active, .disliked
{
    color: #0c5460;
    cursor: pointer;
}

.liked:hover {color: #0e0e0e;}

.disliked:hover {color: #0e0e0e;}

.btn-like
{
    border: none;
    background-color: transparent;
}

.like-count
{
    color: #ffc107;
    margin-top: 15px;
}

.your-img
{
    border: 1px solid black;
    background-color: #191919;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    padding: 5px;
    margin: 10px 0 10px 0;
}

.img-mini
{
    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
}

.filter
{
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.item {margin: 0;}

.form-info
{
    font-style: italic;
    color: #a87906;
    display: none;
}

/*input:focus:valid, input:valid {border-color: #56c93f;}*/

.currpw:focus:valid, .currpw:valid {border-color: #80bdff;}

input:focus:invalid + span {display: inline;}

.valid {border-color: #56c93f;}

.invalid {border-color: #FF0000!important;}

#picture{border: none; box-shadow: none;}

.preview
{
    display: block;
    position: absolute;
    padding: 0;
    z-index: 3;
    left: 50%;
}

.applied-filter
{
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#video
{
    padding: 0;
    background-color: #191919;
    border: 2px solid black;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    -moz-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
}

#notify {border: none; box-shadow: none}

.your-pictures
{
    position: relative;
    top: 150px;
    left: -2px;
    border-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 1050px;
    box-shadow: 5px 0 5px 0 rgba(4, 3, 0, 0.75);
}

.form-control
{
    /* background-color: #1b1b1b; */
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(48, 48, 48);
    
}

.form-group input {
    background-color: rgb(230, 230, 230);
}

.form-group input::placeholder {
    color: rgb(199, 199, 199);
}
.form-control:focus
{
    /* background-color: #1b1b1b; */
    background-color: white;
    box-shadow: none;
    color: rgb(19, 19, 19);
}

.register-form
{
    border-radius: 15px;
    padding: 30px;
    background-color: #ffffff;
    /* border: 1px solid black;
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75); */
}
.lab {
  color: #0f0f0f;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
}

.requirement_error {
  color: #f95955!important;
  font-size: 12px!important;
}

#username_l, #password_l {border: 1px solid black;}

/* width */
::-webkit-scrollbar {width: 10px;}

/* Track */
::-webkit-scrollbar-track {background: #f1f1f1;}

/* Handle */
::-webkit-scrollbar-thumb {background: #888;}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555;}

.container-filters
{
    height: auto;
    background-color: #191919;
    border: 1px solid black;
    margin-bottom: 15px;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    -moz-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
}

.polaroid
{
    background-color: #1b1b1b;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    border: 1px solid black;
    border-top: 0;
}

input[type='file'] {color: transparent;}

.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-lab {
    font-size: 1.25em;
    font-weight: 700;
    color: #EEEEEE;
    display: inline-block;
    border: 1px solid #46da44;
    background-color: #70be6f;
    padding: 5px 20px 5px 20px;
   /* -webkit-box-shadow: 0 0 1px 0 rgba(140, 140, 140, 0.75);
    -moz-box-shadow: 0 0 1px 0 rgba(140, 140, 140, 0.75);
    box-shadow: 0 0 1px 0 rgba(140, 140, 140, 0.75);*/
}

#loader {
    display: none;
}

.fa-user {color: #ffc107;}

.fa-user:hover, .fa-user:active {color: #EEEEEE;}

.dropdown-content
{
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    -webkit-box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
    min-width: 170px;
    padding: 12px 16px;
    z-index: 1;
}

.nav-link
{
    font-family: Lato;
    font-size: 16px;
    color: rgb(59, 163, 59)!important;
}
.form-dropdown
{
    margin-top: -10px;
    margin-bottom: -5px;
}