body {background-color: rgb(239, 253, 240);

    }

html {min-width: 450px; min-height: 250px;}

#map{
    position: unset!important;
}

.banner {
    font-size: 90px;
}

.dropdown-notif-content{
    max-height: 350px;
    overflow: scroll;
}

#nbnotif {
    display: inline;
    float: right;
    color: #ffc107;
}

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown-notif {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-notif-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-notif-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-notif-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*.dropdown-menu-notif:active {
    position:relative;
    top:1px;
}

.dropdown-notif-content{
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 284px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin: 45px 0px 0px 0px;
    z-index: 1;
    border: 2px solid #3881ff;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-notif-content {display: block;}*/

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0 2px;
}

.profile_main{
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
}

.profile_secondary{
    max-width: 175px;
    max-height: 175px;
    min-width: 175px;
    min-height: 175px;
}

.profile_tag{
    display: inline-block;
    border: 1px solid red;
    padding: 2px;
}

.profile_tag p{
    margin: 0;
    padding: 0;
}

.activeTab {
    font-weight: 900;
    color:  rgb(115, 189, 115)!important;
}

.report-btn {
    -moz-box-shadow:inset 0 1px 0 0 #cf866c;
    -webkit-box-shadow:inset 0 1px 0 0 #cf866c;
    box-shadow:inset 0 1px 0 0 #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #854629;
}
.report-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.report-btn:active {
    position:relative;
    top:1px;
}

@media (max-width: 875px)
{
    .wrapper {width: 100%; max-width: 100%!important; margin-left: 0; margin-right: 0;}
    .main-glorify {width: 75%!important; max-width: 75%!important; min-width: 75%!important;}
    .your-pictures {width: 25%!important; max-width: 25%!important; min-width: 25%!important;}
    .register-form-wrapper {width: 100%!important; max-width: 100%!important; margin-left: 0;}
    .register-form {width: 100%!important; max-width: 100%!important; margin-left: 0;}
}

/*//////////////////////////////////////BELOW IS CODE FROM CAMAGRU///////////////////////////////////////////*/

.navbar
{
    background-color: #ffffff;
    /* border-bottom: 1px solid black!important; */
    box-shadow: #0c0c0c;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    /* color: #DDDDDD !important; */
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    word-break: break-word;
}

h1
{
    /* color: #EEEEEE !important; */
    color: black;
    font-family: Lato;
    font-weight: 300;
}

h2
{
    color: #EEEEEE !important;
    font-style: italic;
}
.small-page-wrapper {min-height: calc(100vh - 166px);}

hr
{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
}

footer
{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1e2125;
    border: 1px solid black;
    border-bottom: none;
}

a {color: #ffc107;}
a:hover {color: #FFFFFF;}

li > a {color: #ffc107 !important;}

span > a {color: #ffc107 !important;}

p {color: #AAAAAA;}

.wrapper
{
    border: 2px solid black;
    background-color: #1e2125;/*#161619;*/
    margin-bottom: 15px;
    padding-top: 15px!important;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
}

.register-form-wrapper
{
    padding-top: 30px!important;
    background-color: #0e0e0e;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 1px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 1px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 1px 0 rgba(4, 3, 0, 0.75);
}

#register-wrapper h6 {
    padding:10px;
}

.btn-sign-in {
    width: 100%;
    background-color: rgb(115, 189, 115);
    border-radius: 20px;
    color: white;
    border: 1px solid transparent;
    font-family: Lato;
    margin-top: 20px;
}

.btn-sign-in:hover {
    background-color: rgb(59, 163, 59);
    color: white;
    border: 1px solid transparent;
    font-family: Lato;
    margin-top: 20px;
}

.btn-sign-in:focus {
    background-color: rgb(43, 117, 43);
    color: white;
    border: 1px solid transparent;
    font-family: Lato;
    margin-top: 20px;
}

.btn {min-width: 60px;}

#startbutton {
    background-color: #ffc107;
    border:2px solid #242424;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Trebuchet MS;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
#startbutton:hover {
    background-color:#f7a311;
}
#startbutton:active {
    position:relative;
    top:1px;
}

.img-container
{
    padding: 0;
    margin: 15px;
}

.img-page-wrapper
{
    padding: 0;
}

.img-page
{
    background-color: #0c0c0c;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    padding: 0;
}

.gallery-wrapper {margin: 0 25px 15px 25px;}

.gallery-img-wrapper
{
    word-break: break-all;
    background-color: #0c0c0c;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    border: 1px solid black;
    border-radius: 3px;
}
.gallery-img-wrapper:hover .overlay {
    opacity: 1;
}


.gallery-img
{
    width: 100%;
    border-radius: 3px;
    padding: 0;
    transition: .5s ease;
    backface-visibility: hidden;
}

.title-on-img {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35); /* Black see-through */
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.overlay:hover {opacity: 0.7;}

.comment
{
    word-wrap: break-word;
    border: 2px solid #040300;
    padding: 10px;
    background-color: #141414;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
}

.com-username
{
    color: #ffc107;
    text-decoration-line: underline;
}

.com-content
{
    color: white;
}

.page-item .page-link
{
    background-color: #0e0e0e;
    border-color: #ffc107;
}

.page-item.active .page-link
{
    color: black!important;
    background-color: #ffc107;
    border-color: #1b1e21;
}

.like .dislike {transition: 0.3s;color: #0e0e0e;}

.like:hover, .like:active, .liked
{
    color: #ffc107;
    cursor: pointer;
}

.dislike:hover, .dislike:active, .disliked
{
    color: #0c5460;
    cursor: pointer;
}

.liked:hover {color: #0e0e0e;}

.disliked:hover {color: #0e0e0e;}

.btn-like
{
    border: none;
    background-color: transparent;
}

.like-count
{
    color: #ffc107;
    margin-top: 15px;
}

.your-img
{
    border: 1px solid black;
    background-color: #191919;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    padding: 5px;
    margin: 10px 0 10px 0;
}

.img-mini
{
    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
}

.filter
{
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.rmv-img {color: #ffc107;}

.item {margin: 0;}

.form-info
{
    font-style: italic;
    color: #a87906;
    display: none;
}

/*input:focus:valid, input:valid {border-color: #56c93f;}*/

.currpw:focus:valid, .currpw:valid {border-color: #80bdff;}

input:focus:invalid + span {display: inline;}

.valid {border-color: #56c93f;}

.invalid {border-color: #FF0000!important;}

#picture{border: none; box-shadow: none;}

.preview
{
    display: block;
    position: absolute;
    padding: 0;
    z-index: 3;
    left: 50%;
}

.applied-filter
{
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#video
{
    padding: 0;
    background-color: #191919;
    border: 2px solid black;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    -moz-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
}

#notify {border: none; box-shadow: none}

.your-pictures
{
    position: relative;
    top: 150px;
    left: -2px;
    border-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 1050px;
    box-shadow: 5px 0 5px 0 rgba(4, 3, 0, 0.75);
}

.form-control
{
    /* background-color: #1b1b1b; */
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(48, 48, 48);
    
}

.form-group input {
    background-color: rgb(230, 230, 230);
}

.form-group input::placeholder {
    color: rgb(199, 199, 199);
}
.form-control:focus
{
    /* background-color: #1b1b1b; */
    background-color: white;
    box-shadow: none;
    color: rgb(19, 19, 19);
}

.register-form
{
    border-radius: 15px;
    padding: 30px;
    background-color: #ffffff;
    /* border: 1px solid black;
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75); */
}
.lab {
  color: #0f0f0f;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
}

.requirement_error {
  color: #f95955;
  font-size: 12px;
}

.requirement_error 

#username_l, #password_l {border: 1px solid black;}

/* width */
::-webkit-scrollbar {width: 10px;}

/* Track */
::-webkit-scrollbar-track {background: #f1f1f1;}

/* Handle */
::-webkit-scrollbar-thumb {background: #888;}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555;}

.container-filters
{
    height: auto;
    background-color: #191919;
    border: 1px solid black;
    margin-bottom: 15px;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    -moz-box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
    box-shadow: inset 0 0 5px 1px rgba(4, 3, 0, 0.75);
}

.polaroid
{
    background-color: #1b1b1b;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    border: 1px solid black;
    border-top: 0;
}

input[type='file'] {color: transparent;}

.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-lab {
    font-size: 1.25em;
    font-weight: 700;
    color: #EEEEEE;
    display: inline-block;
    border: 1px solid #808080;
    background-color: #1e2125;
    padding: 5px 20px 5px 20px;
    -webkit-box-shadow: 0 0 1px 0 rgba(140, 140, 140, 0.75);
    -moz-box-shadow: 0 0 1px 0 rgba(140, 140, 140, 0.75);
    box-shadow: 0 0 1px 0 rgba(140, 140, 140, 0.75);
}

#loader {
    display: none;
}

#gallery-wrapper {padding-bottom: 25px;}

.fa-user {color: #ffc107;}

.fa-user:hover, .fa-user:active {color: #EEEEEE;}

.dropdown-content
{
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    background-color: #1e2125;
    -webkit-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(4, 3, 0, 0.75);
    border: 1px solid black;
    min-width: 170px;
    padding: 12px 16px;
    z-index: 1;
}

.navbar-toggler:hover .dropdown-content, .navbar-toggler:active .dropdown-content {
    display: block;
}

.navbar-toggler {
    background-color: #1e2125;
    position: relative;
    display: inline-block;
}

.form-dropdown
{
    margin-top: -10px;
    margin-bottom: -5px;
}
